---
export interface Props {
    line?: string;
    icon?: string;
}
import { Icon } from "astro-iconify";
const { line = null, icon = "iconoir:file-not-found" } = Astro.props;
---

<div class="flex justify-center align-middle items-center flex-col">
    <div class="w-20 h-20"><Icon name={icon} /></div>
    {
        line && (
            <span class="mt-5 text-3xl font-bold text-white block">{line}</span>
        )
    }
</div>
