---
import LogoIcon from "./LogoIcon.astro";
---

<div class="flex justify-center align-middle items-center -mb-10">
    <div class="h-60 w-60">
        <LogoIcon />
    </div>
    <span
        class="ml-10 font-mono text-9xl font-bold text-white block tracking-tighter"
        >sourceye</span
    >
</div>
